.form-wrapper {
  height: auto;
}
.input-wrapper {
  margin: 10px;
}

input {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 0;
  border-bottom: 2px solid #0048ff;
}

.btn {
  width: 120px;
  height: 40px;
  margin: 10px 0 0 0;
  border: 1px solid white;
  background-color: #274bc1;
  color: white;
}

.btn:hover {
  background-color: #0012b1;
}

.rgh-part {
  width: 70px;
}

.rgh-parts-wrapper {
  display: inline-flex;
}

.data-wrapper {
  padding: 10px;
  border-top: 2px solid #0048ff;
  font-size: 1.1em;
}

.data-wrapper label {
  font-size: 1.2em;
}
