<div class="task-page-wrapper">
  <p>
    <span>Задание</span>: написать программу, которая при вводе контекстно-свободной грамматики будет определять, задает
    ли данная грамматика непустой язык и является ли этот язык бесконечным.
  </p>
  <p>
    <span>Краткая теория</span><br/>
    <span>Грамматикой G</span> называют четверку объектов &#123;T, N, P, S&#125;, где T - алфавит терминальных символов,
    N - алфавит нетерминальных символов (при чем T &#8745; N = &#8709;), P - множество правил вывода, а S - начальный
    символ грамматики (S &#8712; N)
    <br/>
    <span>Контекстно свободной</span> называют грамматику, в которой правила вывода имеют следующий вид: A → &#946; (A
    &#8712; N, &#946; &#8712; (T &#8746; N)&#8314;)
  </p>
  <p>
    <span>Проблема пустоты языка</span><br/>
    Для определения задает ли грамматика G пустой язык нужно
  </p>
</div>
