<div class="task-page-wrapper">
  <p>
    <span class="important">Задание</span>: написать программу, которая при вводе контекстно-свободной грамматики будет определять, задает
    ли данная грамматика непустой язык и является ли этот язык бесконечным.
  </p>
  <p>
    <span class="important">Краткая теория</span><br/>
    <span class="important">Грамматикой G</span> называют четверку объектов <span class="math">&#123;T, N, P, S&#125;</span>
    , где T - алфавит терминальных символов,
    N - алфавит нетерминальных символов (при чем <span class="math">T &#8745; N = &#8709;</span>), P - множество правил
    вывода, а S - начальный символ грамматики (<span class="math">S &#8712; N</span>)
    <br/>
    <span class="important">Контекстно свободной</span> называют грамматику, в которой правила вывода имеют следующий вид:
    <span class="math">A → &#946; (A &#8712; N, &#946; &#8712; (T &#8746; N)&#8314;)</span>
  </p>
  <p>
    <span class="important">Полезные и бесполезные символы</span><br/>
    Символ называется полезным, если он является <span class="important">порождающим</span> и <span class="important">
    достижимым</span>, в противном случае он не является полезным и может быть удален из грамматики вместе с содержащими
    его правилами без изменения языка, пораждаемого этой грамматикой.<br/>
    <span class="important">Порождающим</span> называется нетерминальный символ A, если существует цепочка вывода <span class="math">
    A → ... → &#945;</span>, где <span class="math">&#945; &#8712; T&#8314;</span> (является цепочкой терминалов).<br/>
    <span class="important">Достижимым</span> называется символ A, если существует цепочка вывода <span class="math">
    S → ... → &#945;A&#946;</span>, где S - начальный символ, <span class="math">&#945;, &#946; &#8712; (T &#8746; N)*</span>.
  </p>
  <p>
    <span class="important">Проблема пустоты языка</span><br/>
    Для определения задает ли грамматика G пустой язык нужно удалить сначала все непорождающие символы и все недостижимые
    символы. Если после этого остались только эпсилон-правила, то грамматика пораждает пустой язык.
  </p>
  <p>
    <span class="important">Проблема бесконечности языка</span><br/>
    Так же как и для определения пустоты языка, для определения бесконечности языка необходимо удалить непорождающие и
    недостижимые символы. После этого нужно удалить также все эпсилон-правила. Если после данных преобразований грамматики
    остается хотя бы одна цепочка вывода вида <span class="math">A → ... → &#945;A&#946;</span>, где <span class="math">
    &#945;, &#946; &#8712; (T &#8746; N)*</span>, то есть, существует "рекурсивный" вывод нетерминального символа A, то
    язык, пораждаемый грамматикой, бесконечен.
  </p>
</div>
